<html>
    <head>
        <link rel="stylesheet" href="style.css">
        <nav class="favoritos">
             
                     <img height="100px" class="logo" src="/public/assets/image/spotify-social-media-icon-design-template-vector-png_127005-removebg-preview.png"
                      alt="">
            <ul class="ul">
                <li>
                    Populares
                </li>
                <li>
                    <a href="/src/components/pagina2/index.html">favoritos</a>
                </li>
            </ul>
         </nav>
    </head>
    <main class="dois">
        <h1>Bem Vindo ao Sportfy</h1>
        <h2>Populares</h2>
        <section class="tres">
        <div class="cartoes">
        <img class="img" height="200px" width="200px" src="/public/assets/image/download.jfif" alt="">
        <h1>abracadabra</h1>
        <h2>Lady Gaga</h2>
        </div>

          <div class="cartoes">
          <img class="img" height="200px" width="200px" src="/public/assets/image/download (1).jfif" alt="">
          <h1>P do pecador</h1>
          <h2>Grupo menos é mais</h2>
        </div>

          <div class="cartoes">
          <img class="img" height="200px" width="200px" src="/public/assets/image/download (2).jfif" alt="">
          <h1>Em cima do peao</h1>
          <h2>Brenno e Matheus</h2>
        </div>
        
    </section>
    </main>
</html>