<html>
    <head>
        <link rel="stylesheet" href="style.css">
        <nav class="favoritos">
             
                     <img height="100px" class="logo" src="/public/assets/image/spotify-social-media-icon-design-template-vector-png_127005-removebg-preview.png"
                      alt="">
            <ul class="ul">
                <li>
                    <a href="/src/components/home/index.html">Populares</a>
                </li>
                <li>
                    favoritos
                </li>
            </ul>
         </nav>
    </head>
    <main class="dois">
        <h1>Bem Vindo ao Sportfy</h1>
        <h2>favoritos</h2>
        <section class="tres">
        <div class="cartoes">
        <img class="img" height="200px" width="200px" src="/public/assets/image/linpark.jfif" alt="">
        <h1>what i've done</h1>
        <h2>Link Park</h2>
        </div>

          <div class="cartoes">
          <img class="img" height="200px" width="200px" src="/public/assets/image/17dejaneiro.jfif" alt="">
          <h1>17 de janeiro</h1>
          <h2>Os Arrais</h2>
        </div>

          <div class="cartoes">
          <img class="img" height="200px" width="200px" src="/public/assets/image/meAndTheDevil.jfif" alt="">
          <h1>Me and the devil</h1>
          <h2>Soap & Skin</h2>
        </div>
        
    </section>
    </main>
</html>